@import '../../shared/theme';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $transparent-background-color;

  .content {
    position: relative;
    width: 400px;
    height: 180px;
    top: calc(50% - 90px);
    left: calc(50% - 200px);
    background-color: $second-color;
    display: flex;
    flex-direction: column;

    .score {
      flex: 1;

      input {
        text-align: center;
        height: 40px;
        font-size: 30px;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .score-buttons {
      flex: 0 0 100px;
      padding: 20px 0;
      box-sizing: border-box;

      .score-button {
        display: inline-flex;
        width: 25%;
        height: 30px;
      }
    }

    .buttons {
      flex: 0 0 40px;

      button {
        height: 40px;
        width: 50%;
      }
    }
  }
}
