<div class="popup" (click)="cancel()">
  <div class="content" (click)="$event.stopPropagation()">
    <div class="score">
      <input [(ngModel)]="score">
    </div>
    <div class="score-buttons">
      <button class="score-button" (click)="modifyScore(1)">+1</button>
      <button class="score-button" (click)="modifyScore(5)">+5</button>
      <button class="score-button" (click)="modifyScore(10)">+10</button>
      <button class="score-button" (click)="modifyScore(100)">+100</button>
      <button class="score-button" (click)="modifyScore(-1)">-1</button>
      <button class="score-button" (click)="modifyScore(-5)">-5</button>
      <button class="score-button" (click)="modifyScore(-10)">-10</button>
      <button class="score-button" (click)="modifyScore(-100)">-100</button>
    </div>
    <div class="buttons">
      <button (click)="validate()">Ok</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
