$block-color: #fff;
$star-color: #ffd700;

$gold-color: #ffd700;
$silver-color: #c0c0c0;
$bronze-color: #cd7f32;

$negative-text-color: #fff;
$sub-text-color: rgba(0,0,0,.47);

$warn: #f44336;

$facebook: #3b5998
