<h2>Player List</h2>

<div *ngFor="let player of gamePlayerList; let i = index">
  <select [(ngModel)]="gamePlayerList[i]">
    <option *ngFor="let pl of playerList" [ngValue]="pl">{{pl.name}}</option>
  </select>
</div>

<select [(ngModel)]="addedPlayer" (change)="addPlayer()">
  <option *ngFor="let pl of playerList" [ngValue]="pl">{{pl.name}}</option>
</select>

<h2>Game Category</h2>

<select [(ngModel)]="chosenGameCategory" required>
  <option *ngFor="let cat of gameCategoryList" [ngValue]="cat">{{cat.name}}</option>
</select>

<button (click)="startGame()">Start !</button>
