<div class="page">
  <header>
    <div class="new-game">
      <button mat-fab routerLink="/game-creation">
        <mat-icon>add</mat-icon>
      </button>
      <span>Start a new game !</span>
    </div>
  </header>
  <section>
    <button mat-raised-button *ngFor="let game of gameList" [routerLink]="'/current-game/' + game.id">
      <h2>
        {{game.gameCategory.name + ' (round ' + game.scoreList[0].roundScoreList.length + ')'}}
        <span class="mat-caption">
          {{game.date | date:'dd/MM/yyyy HH:mm'}}
        </span>
      </h2>
      <p>
        <span *ngFor="let score of game.scoreList" [class.bold]="game.firstPlayerList.includes(score.playerId)">
          {{(score.playerId | playerName | async) + (score !== game.scoreList[game.scoreList.length - 1] ? ', ' : '')}}
        </span>
      </p>
    </button>
  </section>
</div>
