:host {
  text-align: center;

  input {
    text-align: center;
  }

  .score-buttons {
    button {
      margin: 2px;
    }
  }

  mat-dialog-actions {
    .buttons {
      display: flex;
      width: 100%;

      button {
        flex: 1;
      }
    }
  }
}
