<mat-toolbar color="primary">
  <button mat-icon-button class="menu" aria-label="Open menu" (click)="openMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="title">
    {{headerService.title}}
  </div>
  <div class="option">
    <app-option-menu *ngIf="router.url.startsWith('/current-game'); else account"></app-option-menu>
    <ng-template #account>
      <app-account-menu *ngIf="authenticationService.user; else signUp"></app-account-menu>
      <ng-template #signUp>
        <button mat-icon-button (click)="openSignInDialog()">
          <mat-icon>person</mat-icon>
        </button>
      </ng-template>
    </ng-template>
  </div>
</mat-toolbar>
