<div class="page">
  <header>
    <div class="new-game">
      <button mat-fab routerLink="/game-edition" aria-label="Create new game">
        <mat-icon>add</mat-icon>
      </button>
      <span>Start a new game !</span>
    </div>
  </header>
  <section>
    <div *ngFor="let gamesInMonth of gameList; let i = index" class="month-container">
      <div
        *ngIf="i === 0 && gamesInMonth.date.getMonth() === today.getMonth() && gamesInMonth.date.getFullYear() === today.getFullYear(); else month"
        class="month mat-subheading-1"
      >
        This month
      </div>
      <ng-template #month>
        <div class="month mat-subheading-1">
          {{gamesInMonth.date | date:'MM/yyyy'}}
        </div>
      </ng-template>
      <div class="games">
        <button *ngFor="let game of gamesInMonth.games"
          mat-raised-button
          [routerLink]="'/current-game/' + game.id"
          aria-label="Open game">
          <div class="game-infos">
            <h2>
              {{game.gameCategory.name}}
              <span>
                {{'(round ' + (game.scoreList[0].roundScoreList.length - (game.isGameEnd ? 1 : 0)) + ')'}}
              </span>
              <span class="mat-caption">
                {{game.date | date:'dd/MM/yyyy HH:mm'}}
              </span>
            </h2>
            <p>
              <span *ngFor="let score of game.scoreList" [class.bold]="game.firstPlayerList.includes(score.player.id)">
                {{score.player.name + (score !== game.scoreList[game.scoreList.length - 1] ? ', ' : '')}}
              </span>
            </p>
          </div>
          <div class="game-status">
            <mat-icon color="accent">{{game.isGameEnd ? 'check' : 'hourglass_empty'}}</mat-icon>
          </div>
        </button>
      </div>
    </div>
  </section>
</div>
