<div class="page">
  <section>
    <div *ngIf="game" class="score-grid">
      <div *ngFor="let score of game.scoreList" class="score-content block">
        <div class="round-score">
          <button mat-icon-button
            class="score-button"
            (click)="onClickPlus(score)"
            hsLongPress
            (longPressDetected)="openDialog(score, score.roundScoreList.length - 1)">
            <mat-icon>add</mat-icon>
          </button>
          <input matInput
            pattern="[0-9]"
            class="input-score"
            [ngModel]="score.roundScoreList[score.roundScoreList.length - 1]"
            (change)="onChangeRoundScore(score, $event.target)">
          <button mat-icon-button
            class="score-button"
            (click)="onClickMinus(score)"
            hsLongPress
            (longPressDetected)="openDialog(score, score.roundScoreList.length - 1)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div class="current-score">
          <div class="name">
            <h2>
              <mat-icon *ngIf="game.firstPlayerList.includes(score.playerId)" class="star">star</mat-icon>
              {{score.playerId | playerName | async}}
            </h2>
          </div>
          <h1 class="mat-display-1">{{score.total}}</h1>
        </div>
        <div class="histo-score">
          <div *ngFor="let roundScore of score.roundScoreList.slice().reverse(); let i = index">
            <ng-container *ngIf="i !== 0">
              {{roundScore}}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <button mat-flat-button color="accent" (click)="validateRound()">
      <mat-icon>checked</mat-icon>
    </button>
  </footer>
</div>
