<div class="page">
  <section>
    <div *ngIf="game" class="score-grid">
      <div *ngFor="let score of game.scoreList" class="score-content block">
        <div class="round-score">
          <button mat-icon-button
            class="score-button"
            (click)="onClickPlus(score)"
            hsLongPress
            (longPressDetected)="openScoreDialog(score, 0)"
            aria-label="Add one point to player round score">
            <mat-icon>add</mat-icon>
          </button>
          <input matInput
            pattern="[0-9]"
            class="input-score"
            [ngModel]="score.roundScoreList[0]"
            (change)="onChangeRoundScore(score, $event.target)"
            aria-label="Round score">
          <button mat-icon-button
            class="score-button"
            (click)="onClickMinus(score)"
            hsLongPress
            (longPressDetected)="openScoreDialog(score, 0)"
            aria-label="Remove one point to player round score">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div class="current-score">
          <div class="name">
            <h2>
              <mat-icon *ngIf="game.firstPlayerList.includes(score.playerId)" class="star">star</mat-icon>
              {{score.playerId | playerName | async}}
            </h2>
          </div>
          <h1 class="mat-display-1">{{score.total}}</h1>
        </div>
        <div class="histo-score">
          <ng-container *ngFor="let roundScore of score.roundScoreList; let i = index">
            <div *ngIf="i !== 0" (click)="openScoreDialog(score, i)">
              {{roundScore}}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <button mat-flat-button color="accent" (click)="validateRound()" aria-label="Validate round">
      <mat-icon>checked</mat-icon>
    </button>
  </footer>
</div>
