<button mat-icon-button [matMenuTriggerFor]="optionMenu" aria-label="Open option menu">
  <mat-icon [class.isHoriz]="mainBarService.isLeftSide"></mat-icon>
</button>

<mat-menu #optionMenu="matMenu">
  <ng-container *ngIf="router.url.startsWith('/current-game')">
    <button mat-menu-item routerLink="/game-creation" [queryParams]="{copy: true}">New game</button>
    <button mat-menu-item [routerLink]="'/game-edition/' + gameService.currentGameId">Modify game</button>
    <button mat-menu-item (click)="editLastRound()">Edit last round</button>
    <button mat-menu-item (click)="endGame()">End game</button>
  </ng-container>
  <button mat-menu-item routerLink="/help">Help</button>
  <button mat-menu-item routerLink="/about">About</button>
</mat-menu>
