@import '../../shared/theme';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $transparent-background-color;

  .content {
    position: relative;
    width: 400px;
    height: 180px;
    top: calc(50% - 90px);
    left: calc(50% - 200px);
    background-color: $second-color;
    display: flex;
    flex-direction: column;
  }
}
