<div class="page">
  <section>
    <div *ngIf="game" class="score-grid">
      <div *ngFor="let score of game.scoreList" class="score-content">
        <div class="round-score">
          <button
            class="score-button"
            (click)="onClickPlus(score)"
            ksLongPress
            (longPressDetected)="openDialog(score, score.roundScoreList.length - 1)">
            +
          </button>
          <input
            class="input-score"
            [(ngModel)]="score.roundScoreList[score.roundScoreList.length - 1]"
            (blur)="onBlurInputScore(score)">
          <button
            class="score-button"
            (click)="onClickMinus(score)"
            ksLongPress
            (longPressDetected)="openDialog(score, score.roundScoreList.length - 1)">
            -
          </button>
        </div>
        <div class="current-score">
          <h3>{{score.playerId | playerName | async}}</h3>
          <h1>{{score.total}}</h1>
        </div>
        <div class="histo-score">
          <div *ngFor="let roundScore of score.roundScoreList.slice().reverse(); let i = index">
            <ng-container *ngIf="i !== 0">
              {{roundScore}}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <button (click)="validateRound()">Next Round</button>
  </footer>
</div>
