<h1>What is HiScore ?</h1>
<p>
  HiScore is an app that help you keep your score for all kind of game.
  If you like playing board games, outdoor games or other, this app is made for you.
</p>

<h1>Help us</h1>
<p>
  If you enjoy the HiScore app, don't forget to rate it 5 stars on <a [href]="links.googlePlay">Google Play</a>.
  You can also leave a comment to help us improve the app.
  This app is also a PWA website, so you can access it with your browser at :<br>
  <a [href]="links.hiScoreWeb">{{links.hiScoreWeb}}</a>
</p>

<h1>Developer</h1>
<p>
  Cyril Lefebvre<br>
  <a [href]="links.linkedIn">LinkedIn</a><br>
  <a [href]="links.github">GitHub</a>
</p>

<h1>Terms and conditions of use</h1>
<p>
  HiScore uses collected data to allow you to save and get your games through all your devices and share games between users.<br>
  To learn more about privacy policy and personal data protection you can consult our <a routerLink="/terms">legal terms</a>.
</p>
