<h1>What is HiScore ?</h1>
<p>
  HiScore is an app that help you keep your score for all kind of game.
  If you like playing board games, outdoor games or other, this app is made for you.
</p>

<h1>Help us</h1>
<p>
  If you enjoy the HiScore app, don't forget to rate it 5 stars on the play store.
  You can also leave a comment to help us improve the app.
  This app is also a PWA website, so you can access it with your browser at :<br>
  <a href="https://hi-score-app.wep.app">https://hi-score-app.wep.app</a>
</p>

<h1>Developer</h1>
<p>
  Cyril Lefebvre<br>
  <a href="https://www.linkedin.com/in/cyril-lefebvre-2a818294/">LinkedIn</a><br>
  <a href="https://github.com/LirycMoaners">Github</a>
</p>
