<button mat-icon-button [matMenuTriggerFor]="optionMenu" aria-label="Open option menu">
  <mat-icon [class.isHoriz]="headerService.isLeftSide"></mat-icon>
</button>

<mat-menu #optionMenu="matMenu">
  <ng-container *ngIf="currentGame">
    <button mat-menu-item [routerLink]="'/game-edition/' + currentGame.id" [queryParams]="{copy: true}">New game</button>
    <button *ngIf="canEditGame" mat-menu-item [routerLink]="'/game-edition/' + currentGame.id">Modify game</button>
    <button *ngIf="canEditGame" mat-menu-item (click)="editLastRound()">Edit last round</button>
    <button *ngIf="canEditGame" mat-menu-item (click)="endGame()">End game</button>
  </ng-container>
</mat-menu>
