<div class="page">
  <section>
    <div class="player-list">
      <h2>Player List</h2>
      <div>
        <mat-form-field>
          <input #newPlayer
            type="text"
            matInput
            [ngModel]="newPlayerName"
            (ngModelChange)="filterPlayerList($event)"
            (blur)="onNewPlayerOut($event, newPlayer)"
            (keypress)="onNewPlayerOut($event, newPlayer)"
            [matAutocomplete]="auto2"
            placeholder="Add player"
            aria-label="New player name">
          <mat-autocomplete
            #auto2="matAutocomplete"
            autoActiveFirstOption
            (optionSelected)="addPlayer($event.option.value, newPlayer)"
          >
            <mat-option *ngFor="let pl of filteredPlayerList" [value]="pl" class="player-option">
              <img *ngIf="pl.isUser && pl.photoURL" class="picture" [src]="pl.photoURL" [alt]="pl.displayName + 'player picture'">
              <span class="name">{{pl.displayName}}</span>
              <button *ngIf="!pl.isUser" class="delete" mat-icon-button color="warn" (click)="deleteNonUserPlayer($event, pl)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="list" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let player of gamePlayerList; let i = index" class="player" cdkDrag>
          <button mat-icon-button aria-label="Drag to change order" cdkDragHandle>
            <mat-icon>drag_handle</mat-icon>
          </button>
          <mat-form-field>
            <input #playerInput
              type="text"
              matInput
              [ngModel]="gamePlayerList[i].displayName"
              (ngModelChange)="filterPlayerList($event)"
              (change)="changePlayer(player, $event.target.value, playerInput)"
              [matAutocomplete]="auto"
              aria-label="Player name">
            <mat-autocomplete
              #auto="matAutocomplete"
              autoActiveFirstOption
              (optionSelected)="changePlayer(player, $event.option.value, playerInput)"
            >
              <mat-option *ngFor="let pl of filteredPlayerList" [value]="pl" class="player-option">
                <img *ngIf="pl.isUser && pl.photoURL" class="picture" [src]="pl.photoURL" [alt]="pl.displayName + 'player picture'">
                <span class="name">{{pl.displayName}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button mat-icon-button (click)="removePlayer(player)" aria-label="Remove player">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="game-category">
      <h2>Game Category</h2>
      <div>
        <mat-form-field>
          <input #gameCategoryInput
            type="text"
            matInput
            [ngModel]="gameCategoryName"
            (ngModelChange)="filterGameCategoryList($event)"
            (blur)="onGameCategoryOut($event, gameCategoryInput)"
            (keypress)="onGameCategoryOut($event, gameCategoryInput)"
            [matAutocomplete]="auto3"
            placeholder="Game category"
            aria-label="Game category">
          <mat-autocomplete
            #auto3="matAutocomplete"
            autoActiveFirstOption
            (optionSelected)="onSelectGameCategory($event.option.value, gameCategoryInput)"
          >
            <mat-option *ngFor="let gc of filteredGameCategoryList" [value]="gc" class="game-category-option">
              <span class="name">{{gc.name}}</span>
              <button *ngIf="gc.id !== 'common-0'" mat-icon-button color="warn" (click)="deleteGameCategory(gc)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="game-category-details" *ngIf="!!game && !!game.gameCategory">
        <mat-form-field>
          <mat-select [(ngModel)]="game.gameCategory.endingType" placeholder="Ending type">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let endingType of EndingType | keyEnum" [value]="endingType.value">
              {{endingType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="game.gameCategory.endingType">
          <input matInput type="number" [(ngModel)]="game.gameCategory.endingNumber" placeholder="Ending number">
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="game.gameCategory.goal" placeholder="Goal">
            <mat-option *ngFor="let goal of Goal | keyEnum" [value]="goal.value">
              {{goal.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="game" class="first-player">
        <mat-slide-toggle [(ngModel)]="game.isFirstPlayerRandom">Random first player</mat-slide-toggle>
      </div>
    </div>
  </section>
  <footer>
    <button mat-flat-button
      cdkfocusinitial
      color="accent"
      (click)="startGame()"
      aria-label="Start game">
      {{isCreationMode ? 'Start !' : 'Resume'}}
    </button>
  </footer>
</div>
