@import '../../../assets/scss/theme';

:host {
  text-align: center;
  .page {
    section {
      .player {
        margin: 0 auto;
        width: 260px;
      }

      .game-category-details {
        mat-form-field {
          display: block;
          margin: 0 auto;
          width: 180px;
        }
      }

      @media (orientation: landscape) {
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .player-list {
          flex: 1;
          display: flex;
          flex-direction: column;

          .list {
            overflow: auto;
          }
        }

        .game-category {
          flex: 1;
          display: flex;
          flex-direction: column;

          .game-category-details {
            overflow: auto;
          }
        }
      }
    }
  }

  .create-game {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 28px);
  }
}
