<div class="page">
  <section>
    <div class="player-list">
      <h2>Player List</h2>
      <div>
        <mat-form-field>
          <input #newPlayer
            type="text"
            matInput
            [(ngModel)]="newPlayerName"
            (ngModelChange)="filterPlayerList($event)"
            (blur)="onNewPlayerOut($event, newPlayer)"
            (keypress)="onNewPlayerOut($event, newPlayer)"
            [matAutocomplete]="auto2"
            placeholder="Add player"
            aria-label="New player name">
          <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="addPlayer($event.option.value, newPlayer)">
            <mat-option *ngFor="let pl of filteredPlayerList" [value]="pl">{{pl.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="list" dnd-sortable-container [sortableData]="gamePlayerList">
        <div *ngFor="let player of gamePlayerList; let i = index" class="player" dnd-sortable [sortableIndex]="i">
          <button mat-icon-button aria-label="Drag to change order">
            <mat-icon>drag_handle</mat-icon>
          </button>
          <mat-form-field>
            <input type="text"
              matInput
              [(ngModel)]="gamePlayerList[i].name"
              (ngModelChange)="filterPlayerList($event)"
              (change)="changePlayer(player, $event.target.value)"
              [matAutocomplete]="auto"
              aria-label="Player name">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changePlayer(player, $event.option.value)">
              <mat-option *ngFor="let pl of filteredPlayerList" [value]="pl">{{pl.name}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button mat-icon-button (click)="removePlayer(player)" aria-label="Remove player">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="game-category">
      <h2>Game Category</h2>

      <div>
        <mat-form-field>
          <mat-select  #gameCategory [(ngModel)]="chosenGameCategory" (ngModelChange)="onSelectGameCategory($event)" placeholder="Game category" required role="listbox">
            <mat-option role="option" *ngFor="let cat of gameCategoryList" [value]="cat">{{cat.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="openDialog()">Add category</button>
      </div>
      <div class="game-category-details" *ngIf="!!game && !!game.gameCategory">
        <mat-form-field>
          <mat-select [(ngModel)]="game.gameCategory.endingType" placeholder="Ending type">
            <mat-option *ngFor="let endingType of EndingType | keyEnum" [value]="endingType.value">
              {{endingType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="game.gameCategory.endingNumber" placeholder="Ending number">
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="game.gameCategory.goal" placeholder="Goal">
            <mat-option *ngFor="let goal of Goal | keyEnum" [value]="goal.value">
              {{goal.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <button mat-flat-button
      cdkfocusinitial
      color="accent"
      (click)="startGame()"
      aria-label="Start game">
      {{isCreationMode ? 'Start !' : 'Resume'}}
    </button>
  </footer>
</div>
